header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-image: url("../assets/img/header_image.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  color: black;
  text-align: center;
}
main {
  text-align: center;
  padding:2dvh 0;
  h1 {
    font-size: 5dvw;
    color: orange;
  }
  span{
    font-size: 3dvw;
    color: rgb(255, 255, 255);
  }
}
#logo {
  position: absolute;
  width: 40dvw;
  z-index: 10;
}

#renderDishes {
  .dishContainer {
    width: 80dvw;
    display: flex;
    color: white;
    padding: 1dvh 1dvw;
    border: 1dvw solid white;
    img {
      width: 40dvw;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 3dvw;
      }
      p {
        font-size: 1.8dvw;
        text-align: center;
        width: 50%;
        padding: 1dvh 0;
      }
    }
  }
}

aside {
  padding: 1dvh 1dvw;
  h3 {
    font-size: 3dvw;
  }
}

.contentWrapper {
  width: 80dvw;
  display: flex;
  flex-grow: 1;
  background-color: rgb(209, 145, 66);
}

.content {
  width: 100%;
  color: aqua;
  background-color: aquamarine;
}

footer {
  text-align: center;
  height: 10dvh;
  background-color: rgb(119, 38, 38);
  color: white;
}
